.dashboard-container {
    text-align: center;
    margin-top: 2em;
  }
  
  .dashboard-container h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .dashboard-container p {
    font-size: 1.2em;
  }
  